<%= javascript_tag do %>
  var firebase = new Firebase(firebaseUrl)

  firebase.child('users').child(gon.userId).child('notifications').child('friend_requests').child(currentUser.id).on('child_removed', function(removed) {
    $.ajax({
      url: `/users/${ gon.userId }/update_friends`,
      method: 'get',
      dataType: 'script'
    })
  })

  firebase.child('users').child(gon.userId).child('notifications').child('friend_requests').child(currentUser.id).on('child_changed', function(changed) {
    $.ajax({
      url: `/users/${ gon.userId }/update_friends`,
      method: 'get',
      dataType: 'script'
    })
  })
<% end %>

<div class="avatar">
  <div class="image">
    <%= image_tag image_path(@user.avatar.profile), class: 'avatar-clip' %>
  </div>
  <% if @user == current_user %>
    <div class="update-photo">
      <p>Update Photo</p>
    </div>
    <div class="hidden">
      <%= form_for @user, url: update_avatar_user_path(@user), html: { id: 'edit-avatar' }, multipart: true, remote: true do |f| %>
        <%= f.file_field :avatar %>
        <%= f.submit 'Update Photo' %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="name">
  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
</div>

<% unless @user == current_user || current_user.nil? %>
  <div class="friend-status">
    <%= render 'friend_status' %>
  </div>
<% end %>

<% if !current_user.nil? %>
    <% if @user != current_user && friends?(@user) %>
      <div class="start-waving">
        <%= link_to "Wave!", user_wave_sessions_path(@user.id), method: :post, class: 'open-modal', remote: true, 'data-type' => :html %>
      </div>
    <% end %>
  <div class="user-progress">
    <%= render 'stats/progress' %>
  </div>
<% end %>


