<div class="avatar">
  <div class="image">
    <%= image_tag image_path(@user.avatar.profile) %>
  </div>
  <% if @user == current_user %>
    <div class="update-photo">
      <p>Update Photo</p>
    </div>
    <div class="hidden">
      <%= form_for @user, url: update_avatar_user_path(@user), html: { id: 'edit-avatar' }, multipart: true, remote: true do |f| %>
        <%= f.file_field :avatar %>
        <%= f.submit 'Update Photo' %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="name">
  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
</div>

<% unless @user == current_user || current_user.nil? %>
  <div class="friend-status">
    <%= render 'friend_status' %>
  </div>
<% end %>

<% if !current_user.nil? %>
  <div class="progress">
    <%= render 'stats/progress' %>
  </div>
<% end %>
