<% if logged_in? %>
  <% if get_friend_requests.any? %>
    <% get_friend_requests.each do |request| %>
      <% user = User.find(request.user_id) %>
      <% if current_user.pending_inverse_friends.include? user %>
        <li>
            <%= link_to user_path(user) do %>
              <span><%= image_tag image_path(user.avatar.thumb), class: 'avatar-clip' %> <%= user.first_name %> <%= user.last_name %></span>
            <% end %>
          <span><%= link_to 'Confirm', accept_user_path(user), method: :post, remote: true %></span>
          <span><%= link_to 'Delete Request', user_friendship_path(user, request), method: :delete, remote: true %></span>
        </li>
      <% else %>
        <li>
          <%= link_to user_path(user) do %>
            <div>
              <%= image_tag image_path(user.avatar.thumb), class: 'avatar-clip' %> <%= user.first_name %> <%= user.last_name %></span>
            </div>
          <% end %>
          <span>You are now friends</span>
        </li>
      <% end %>
    <% end %>
  <% else %>
    <li>No friend requests</li>
  <% end %>
<% end %>
