<% if logged_in? %>
  <li class="title">Friend Requests</li>
  <% if get_friend_requests.any? %>
    <ul class="scrollable">
      <% get_friend_requests.each do |request| %>
        <% user = User.find(request.user_id) %>
        <% if current_user.pending_inverse_friends.include? user %>
          <li class="hoverable">
            <div class="request">
              <%= link_to user_path(user) do %>
                <div class="name-tag">
                  <%= image_tag image_path(user.avatar.thumb), class: 'avatar-clip' %>
                  <p><%= user.first_name %> <%= user.last_name %></p>
                </div>
              <% end %>
              <ul class="friend-actions">
                <li>
                  <%= link_to accept_user_path(user), method: :post, remote: true do %>
                    <div class="action confirm"></div>
                  <% end %>
                </li>
                <li>
                  <%= link_to user_friendship_path(user, request), method: :delete, remote: true do %>
                    <div class="action delete"></div>
                  <% end %>
                </li>
              </ul>
            </div>
          </li>
        <% else %>
          <li class="hoverable">
            <div class="request">
              <%= link_to user_path(user) do %>
                <div class="name-tag">
                  <%= image_tag image_path(user.avatar.thumb), class: 'avatar-clip' %>
                  <p><%= user.first_name %> <%= user.last_name %></p>
                </div>
              <% end %>
            <div>Friends</div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <li class="default">No friend requests</li>
  <% end %>
  <li class="footer"></li>
<% end %>
