<h3>You currently have <%= pluralize(@trackers.size - current_user.trackers.size, 'unregistered Wave Motion') %></h3>

<% @trackers.each do |tracker| %>
  <div class="tracker">
    <% unless registered? tracker["id"] %>
      <%= form_tag user_trackers_path, remote: true do %>
        <div class="particle-name">
          <p>Particle Name: <%= tracker["name"] %></p>
        </div>
        <div class="field">
          <%= label_tag :name %>
          <%= text_field_tag :name, nil, placeholder: 'My Wave Motion' %>
          <%= hidden_field_tag :core_id, tracker["id"] %>
        </div>
        <div class="submit">
          <%= submit_tag 'Add' %>
        </div>
      <% end %>
    <% else %>
      <div class="name">
        <p>Name: <%= current_user.trackers.find_by(core_id: tracker["id"]).name %></p>
      </div>
      <div class="submit">
        <%= link_to "Test", test_user_tracker_path(current_user, current_user.trackers.find_by(core_id: tracker["id"]).id) %>
      </div>
      <div class="delete">
        <%= link_to "Delete", user_tracker_path(current_user, current_user.trackers.find_by(core_id: tracker["id"]).id), method: :delete, remote: true %>
      </div>
    <% end %>
  </div>
<% end %>