<div class="page-title">
  <h1>Log In</h1>
</div>
<div class="full-container">
  <div class="content-container">
    <div class="particle-form">
      <div class="sign-in">
        <%= form_tag user_sessions_path do %>

          <div class="field">
            <%= text_field_tag :email %>
            <%= label_tag :email %>
          </div>

          <div class="field">
            <%= password_field_tag :password %>
            <%= label_tag :password %>
          </div>

          <div class="field remember-me">
            <%= check_box_tag :remember, params[:remember], true %>
            <%= label_tag :remember, "Remember me" %>
          </div>

          <div class="user-submit submit">
            <%= submit_tag "Login", class: :button %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div>

