<!DOCTYPE html>
<html>
<head>
  <title>Wave</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= Gon::Base.render_data %>
  <%= javascript_tag do %>
    var motion = false
    var wave = false
    var multiUserWave = false
    var trackerOffline = false
    var currentUser
    var loggedIn

    <% if logged_in? %>
      loggedIn = true

      function getTrackers() {
        var ids = []
        <% current_user.tracker_ids.each do |id| %>
          ids.push("<%= id %>")
        <% end %>
        return ids
      }

      function initUser() {
        currentUser = {
          "id" : "<%= current_user.id %>",
          "firstName" : "<%= current_user.first_name %>",
          "lastName" : "<%= current_user.last_name %>",
          "trackers" : getTrackers(),
          "onlineTracker" : undefined,
          "token" : "<%= current_user.access_token %>"
        }
      }

      if (currentUser === undefined) initUser()

      var firebaseUrl = "<%= ENV["firebase_url"] %>"
    <% else %>
      loggedIn = false
    <% end %>
  <% end %>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <div class="logo wave">
      <%= link_to root_url do %>
        <%= image_tag('Logo.png') %>
      <% end %>
    </div>
    <% if logged_in? %>
      <div class="tracker-status"></div>
      <div class="navigation-tools">
        <div class="search-bar">
          <%= form_tag users_path, method: :get, authentication: false , class: "user-search" do %>
            <%= text_field_tag :search, params[:search], placeholder: 'Search Wave', class: "search-input" %>
            <%= image_submit_tag 'search-icon.png', class: 'search-submit' %>
          <% end %>
        </div>
      </div>
      <nav role="navigation">
        <ul class="navigation-menu show">
          <li class="nav-link more">
            <%= link_to user_path(current_user), id: 'avatar' do %>
              <div class="avatar-clip">
                <%= image_tag image_path(current_user.avatar.thumb), class: 'avatar-clip' %>
              </div>
            <% end %>
            <ul class="user submenu hidden">
              <li><%= link_to "Profile", user_path(current_user)%></li>
              <li><%= link_to "My Wave Motions", user_trackers_path(current_user) %></li>
              <li><%= link_to "Logout", :logout %></li>
            </ul>
          </li>
          <li class="nav-link more notifications friends">
            <%= fa_icon 'users', id: 'notify-friend' %>
            <ul class="friend-requests submenu hidden">
              <%= render 'shared/friend_requests' %>
            </ul>
          </li>
          <li class="nav-link more notifications sessions">
            <%= fa_icon 'bell', id: 'notify-session' %>
            <ul class="wave-sessions submenu hidden">
              <%= render 'shared/sessions' %>
            </ul>
          </li>
        </ul>
      </nav>
    <div class="wave-test">
      <% if current_user.trackers.any? %>
        <%= link_to "Test", user_test_path(current_user), class: 'open-modal', remote: true, 'data-type' => :html %>
      <% else %>
        <%= link_to "Test", sign_in_with_particle_user_trackers_path(current_user), class: 'open-modal', remote: true, 'data-type' => :html %>
      <% end %>
    </div>
    <%= render 'shared/modal' %>
    <% else %>
      <nav role="navigation">
        <ul class="navigation-menu show">
          <li class="nav-link"><%= link_to "Sign Up", new_user_path %></li>
          <li class="nav-link"><%= link_to "Login", :login %></li>
        <ul>
      </nav>
    <% end %>
  </div>
</header>





<div class="flash">
  <p id="alert"><%= flash[:alert] %></p>
</div>

<div class="main-content">
  <%= yield %>
</div>

</body>
</html>
