<!DOCTYPE html>
<html>
<head>
  <title>Wave</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'https://cdn.firebase.com/js/client/2.2.9/firebase.js' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/sparkjs/0.5.9/spark.min.js' %>
</head>
<body>
  <%= Gon::Base.render_data %>

  <div class="nav">
    <ul class="links">
      <li><h3><%= link_to "Wave", root_url %></h3></li>
      <% if logged_in? %>
        <li>
          <%= link_to user_path(current_user), id: 'avatar' do %>
            <%= image_tag image_path(current_user.avatar.medium) %>
          <% end %>
        </li>
        <ul class="user-links hidden">
          <li><%= link_to "Profile", user_path(current_user)%></li>
          <li><%= link_to "My Wave Trackers", user_trackers_path(current_user) %></li>
          <li><%= link_to "Logout", :logout %></li>
        </ul>
        <li><%= link_to "Test", user_test_path(current_user) %></li>

      <% else %>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <li><%= link_to "Login", :login %></li>
      <% end %>
    </ul>
  </div>

  <div class="flash">
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  <%= yield %>

  <% if logged_in? %>
    <%= javascript_tag do %>
      var loggedIn = true

      function getTrackers() {
        var ids = []
        <% current_user.tracker_ids.each do |id| %>
          ids.push("<%= id %>")
        <% end %>
        return ids
      }
      var trackers = getTrackers()

      var currentUser = {
        "firstName" : "<%= current_user.first_name %>",
        "lastName" : "<%= current_user.last_name %>",
        "trackers" : trackers,
        "onlineTracker" : undefined,
        "token" : "<%= current_user.access_token %>"
      }

      var firebaseUrl = "<%= ENV["firebase_url"] %>"
      spark.accessToken = currentUser.token
    <% end %>
  <% else %>
    <%= javascript_tag do %>
      var loggedIn = false
      var currentUser = undefined
    <% end %>
  <% end %>
</body>
</html>
