<!DOCTYPE html>
<html>
<head>
  <title>Wave</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= Gon::Base.render_data %>
  <%= javascript_tag do %>
    var motion = false
    var wave = false
    var trackerOffline = false
    var currentUser
    var loggedIn

    <% if logged_in? %>
      loggedIn = true

      function getTrackers() {
        var ids = []
        <% current_user.tracker_ids.each do |id| %>
          ids.push("<%= id %>")
        <% end %>
        return ids
      }

      function initUser() {
        currentUser = {
          "id" : "<%= current_user.id %>",
          "firstName" : "<%= current_user.first_name %>",
          "lastName" : "<%= current_user.last_name %>",
          "trackers" : getTrackers(),
          "onlineTracker" : undefined,
          "token" : "<%= current_user.access_token %>"
        }
      }

      if (currentUser === undefined) initUser()

      var firebaseUrl = "<%= ENV["firebase_url"] %>"
    <% else %>
      loggedIn = false
    <% end %>
  <% end %>

  <div class="nav">
    <ul class="links">
      <li class="logo"><h3><%= link_to "Wave", root_url %></h3></li>
      <ul class="tracker-status">
      </ul>
      <% if logged_in? %>
        <li><%= render 'shared/search' %></li>
        <li>
          <%= link_to user_path(current_user), id: 'avatar' do %>
            <%= image_tag image_path(current_user.avatar.medium) %>
          <% end %>
        </li>
        <ul class="user-links hidden">
          <li><%= link_to "Profile", user_path(current_user)%></li>
          <li><%= link_to "My Wave Motions", user_trackers_path(current_user) %></li>
          <li><%= link_to "Logout", :logout %></li>
        </ul>
        <li><%= render 'shared/tracker_modal' %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <li><%= link_to "Login", :login %></li>
      <% end %>
    </ul>
  </div>

  <div class="flash">
    <p id="alert"><%= flash[:alert] %></p>
  </div>


  <%= yield %>

</body>
</html>
