<!DOCTYPE html>
<html>
<head>
  <title>Wave</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= Gon::Base.render_data %>
  <%= javascript_tag do %>
    var motion = false,
        wave = false,
        multiUserWave = false,
        trackerOffline = false,
        debug = false,
        currentUser,
        loggedIn

    <% if logged_in? %>
      loggedIn = true

      function getTrackers() {
        var ids = []
        <% current_user.tracker_ids.each do |id| %>
          ids.push("<%= id %>")
        <% end %>
        return ids
      }

      function initUser() {
        currentUser = {
          "id" : "<%= current_user.id %>",
          "firstName" : "<%= current_user.first_name %>",
          "lastName" : "<%= current_user.last_name %>",
          "trackers" : getTrackers(),
          "onlineTracker" : undefined,
          "token" : "<%= current_user.access_token %>",
          "demo" : <%= current_user.demo %>
        }
      }

      if (currentUser === undefined) initUser()

      var firebaseUrl = "<%= ENV["firebase_url"] %>"
    <% else %>
      loggedIn = false
    <% end %>
  <% end %>

<header class="navigation" role="banner">
  <% if logged_in? %>
    <div class="first nav-item">
      <div class="logo wave">
        <%= link_to root_url do %>
          <%= image_tag('Logo.png') %>
        <% end %>
      </div>
      <div class="tracker-status">
        <div class="indicator asleep"></div>
        <p>Asleep</p>
      </div>
    </div>
    <div class="second nav-item">
      <div class="search-bar">
        <%= form_tag users_path, method: :get, authentication: false , class: "user-search" do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Search Wave', class: "search-input" %>
          <%= image_submit_tag 'search-icon.png', class: 'search-submit' %>
        <% end %>
      </div>
    </div>
    <div class="third nav-item">
      <div class="nav-link profile">
        <%= link_to user_path(current_user), id: 'avatar' do %>
          <%= image_tag image_path(current_user.avatar.thumb), class: 'avatar-clip' %>
        <% end %>
        <ul id="user" class="submenu hidden">
          <li class="title"><%= current_user.first_name %></li>
          <%= link_to user_path(current_user) do %><li class="hoverable">Profile</li><% end %>
          <%= link_to user_trackers_path(current_user) do %><li class="hoverable">My Wave Motions</li><% end %>
          <%= link_to :logout do %><li class="hoverable">Logout</li><% end %>
        </ul>
      </div>
      <div class="nav-link notifications friends">
        <%= fa_icon 'users', id: 'notify-friend' %>
      </div>
      <ul id="friend-requests" class="submenu hidden">
        <%= render 'shared/friend_requests' %>
      </ul>
      <div class="nav-link notifications sessions">
        <%= fa_icon 'bell', id: 'notify-session' %>
      </div>
      <ul id="wave-sessions" class="submenu hidden">
        <%= render 'shared/sessions' %>
      </ul>
      <div class="wave-test">
        <% if current_user.trackers.any? || current_user.demo %>
          <%= link_to user_test_path(current_user), class: 'open-modal', remote: true, 'data-type' => :html do %>
            <div class="wave-link">Wave</div>
          <% end %>
        <% else %>
          <%= link_to sign_in_with_particle_user_trackers_path(current_user), class: 'open-modal', remote: true, 'data-type' => :html do %>
            <div class="wave-link">Wave</div>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>
  <% else %>
    <div class="nav-item">
      <div class="logo wave">
        <%= link_to root_url do %>
          <%= image_tag('Logo.png') %>
        <% end %>
      </div>
    </div>
    <div class="nav-item">
      <div class="nav-link wave-link"><%= link_to "Sign Up", new_user_path %></div>
      <div class="nav-link wave-link"><%= link_to "Login", :login %></div>
    </div>
  <% end %>
</header>

<div class="main-content">
  <%= render 'shared/modal' %>
  <div class="flash">
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <%= yield %>
</div>

</body>
</html>
